*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.containerImg {
    display: flex;
    width: 130rem;
    height: 100vh;
    background-color: aqua;
 
}
#imgMercado {
    width: 100%;
}


.containerForm {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: white;

}

.title {
    font-weight: bold;
    color: rgb(70, 70, 70);
}
.subtitle {
    font-weight: 200;
}
.form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 25rem;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;

}
#btnCadastrar {
    background-color: rgb(92, 92, 92);
    border: none;
}
#btnCadastrar:hover {
    background-color: rgb(71, 70, 70);
    border: none;
}
#btn {
    background-color: rgb(22, 22, 22);
    border: none;
}
#btn:hover {
    background-color: rgb(44, 44, 44);
}